/docs              export-ignore
/tests             export-ignore
/.git*             export-ignore
/.*lintrc          export-ignore
/.travis.yml       export-ignore
/phpunit.xml       export-ignore
/*.jpg             export-ignore
/*.png             export-ignore
/*.env             export-ignore
/*.log             export-ignore
/*.tmp             export-ignore
/*.sqlite          export-ignore
/Procfile          export-ignore
